.MainPage{
  /* border: 3px solid; */
  height: 100%;
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 20px;
  padding: 1rem 0.2rem;
}

.MainPageDetails{
  /* border: 3px solid blue; */
  /* height: 90%; */
  width: 47%;
  padding: 1rem;
}

.MainPageDetails h1{
  color: rgb(36, 39, 66);
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

.MainPageDetails p{
  color: rgb(36, 39, 66)
}

.MainPageImage {
  /* border: 3px solid red; */
  height: 70vh;
  width: 45%;
  padding: 0.4rem;
}

.Image{
  background-image: url('/illustration-sign-up-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 10px;
  height: 100%;
}

@media screen and (max-width: 760px) {
  .MainPage{
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
    padding: 0;
  }
  .MainPageImage{
    height: 30vh;
    width: 100%;
    /* border: 3px solid red; */
    padding: 0;
  }
  .Image{
    background-image: url('/illustration-sign-up-mobile.svg');
    width: 100%;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* height: auto; */
  }

  .MainPageDetails{
    width: 100%;
    padding: 2rem;
  }

  .MainPageDetails h1{
    font-size: 3rem;
  }
  .MainPageDetails p{
    font-size: 1.2rem;
  }

}

@media screen and (min-width:760px) and (max-width: 1200px) {
  .MainPage{
    /* border: 3px solid red; */
    width: 100%
  }
  .MainPageDetails h1{
    font-size: 3rem;
  }
}